In [1]:
import pandas as pd
import mysql.connector

In [10]:
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="20180821",
    database="world",
    ssl_disabled=True
)

cursor = connection.cursor()

query = "SELECT * FROM city"

cursor.execute(query)

results = []
for i, data in enumerate(cursor):
    results.append(data)
    
cursor.close()
connection.close()

In [14]:
df = pd.DataFrame(results)
df.columns = ['ID', 'Name', 'CountryCode', 'District', 'Population']
df.head()

   ID            Name CountryCode       District  Population
0   1           Kabul         AFG          Kabol     1780000
1   2        Qandahar         AFG       Qandahar      237500
2   3           Herat         AFG          Herat      186800
3   4  Mazar-e-Sharif         AFG          Balkh      127800
4   5       Amsterdam         NLD  Noord-Holland      731200